/* Base styles */

body{
  font-family: "Arial";
  color: #838383;
  font-size: 16px;
  line-height: 24px;
}

#img1
{
   float:left;
  
}


button{
	border-radius: 0.5em;			/* increased border-radius */
	width: 20em;  height: 2em;
	text-decoration: none;
	color: white;					/* changed text color to white */
	background-color: #77b55a;		/* changed background color to a nice blue */
	text-transform: uppercase;		/* made the text uppercase */
	font-weight: bold;				/* gave the text a bold look */
}

button:hover {
	width: 20em;  height: 2em;
	background-color: #44c767;  /* changed the bg-color to transparent */
	border: 0.15em #44c767 solid;	/* set a border to a blue color */
	color: white;					/* set a text color to the same color */
}

button:active {
	width: 20em;  height: 2em
	background-color: #44c767;  
	border: 0.15em solid;	
	color: black;					/* minor text color change in a deeper blue */
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
i


h1{
  margin-top: 4px;
  line-height: 4px;
   font-size: 20px;
  text-align: center;
}

li+li{
  margin-top: 0px;
}

.info{
 font-family: "Arial";
  color: #838383;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;	
}

.container{
  width: 728px;
  margin: 0px auto;
}

/* Block styles */

header, section, footer{
  margin: 48px 0;
}

.result {
    display: table-cell;
    vertical-align: middle;
}